@model IEnumerable<MurshadikCP.Models.DB.roles_permission>
<table class="table table-centered table-nowrap mb-0">
    <thead class="thead-light">
        <tr>
            <th>Page</th>
            <th>view</th>
            <th>insert</th>
            <th>update</th>
            <th>delete</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.page_name)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.can_view)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.can_insert)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.can_update)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.can_delete)
                </td>
                <td>
                    @Html.ActionLink("تعديل", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Delete Permission", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>
</table>
