@model PagedList.IPagedList<MurshadikCP.Models.DB.market>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" />
<!-- Sweet Alert-->
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "سوق";
    ViewBag.pTitle = "جميع الاسواق";
    if (ViewBag.role == "Market")
    {
        Layout = "~/Views/Shared/Layouts/_layout_horizontal.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-xl-4 col-sm-6">
            <div class="card">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="text-center py-4 border-right">
                            <div class="avatar-sm mx-auto mb-4">
                                <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-16">
                                    
                                        <img src="@(item.market_image == null ? "/assets/images/image_placeholder.jpg" : item.market_image)" id="outputbanner" class="card-img-top img-fluid rounded-circle" alt="banner image" style="width: 40px; height: 40px;" />
                                    
                                </span>
                            </div>
                            <h5>@Html.DisplayFor(modelItem => item.region.name_ar)</h5>
                        </div>
                    </div>

                    <div class="col-xl-7">
                        <div class="p-4 text-center text-xl-left">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div>
                                        <h6 class="mb-2">@Html.DisplayFor(modelItem => item.marketname)</h6>
                                        <h6 class="pt-2 font-weight-bold">@Html.DisplayFor(modelItem => item.phone)</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a href="/markets/View?id=@item.id" class="btn btn-outline-primary btn-lg" data-toggle="tooltip" data-placement="top" title="رؤية"><i class="bx bx-show"></i></a>
                                    <a href="/markets/Edit?id=@item.id" class="btn btn-outline-primary btn-lg" data-toggle="tooltip" data-placement="top" title="تعديل"><i class="bx bx-pencil"></i></a>
                                    <input type="hidden" id="ids" value="@item.id" />
                                    <a class="btn btn-outline-primary btn-lg sa-warning" data-toggle="tooltip" data-placement="top" title="حذف"><i class="mdi mdi-trash-can"></i></a>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }

</div>

    <div class="col-lg-12">
        <div class="d-flex justify-content-between">
            <div>
                عرض صفحة @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) من @Model.PageCount
                @Html.PagedListPager(Model, Page_No => Url.Action("Index",
                    new { Page_No, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.Filter_Value }))
            </div>
            @if (ViewBag.role != "Market")
            {
                <div class="align-self-center">
                    @Html.ActionLink(" اضافة ", "Create", "markets", null, new { @class = "btn btn-primary mdi mdi-plus-box ml-1" })
                </div>
            }
        </div>
    </div>



@section scripts{
    <script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/assets/js/app.js"></script>
}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script type="text/javascript">


    $(document).ready(function () {
        $(".sa-warning").click(function (e) {
            var row = $(this).closest('tr');
            var id = $(this).siblings('input#ids').val();
            Swal.fire({
                title: 'هل أنت واثق ؟',
                text: "لن تتمكن من التراجع عن هذا!",
                type: "warning",
                confirmButtonText: 'نعم',
                cancelButtonText: 'لا',
                confirmButtonColor: "#34c38f",
                cancelButtonColor: "#f46a6a",
                showCancelButton: true,
                showCloseButton: true
            }).then(function (t) {
                if (t.value) {
                    axios.post('/markets/Delete', { 'id': id })
                        .then(function (r) {
                            if (r.data == "Success") {
                                Swal.fire("تم الحذف!", "تم حذف ملفك.", "success")
                                location.reload();
                            } else {
                                swal.fire(r.data, "Something wrong!", "error")
                            }
                        })
                        .catch(function (error) {
                            swal.fire("Error", error, "error")
                        });
                }
            });
        });
    });





</script>

