@model MurshadikCP.Models.DB.city

@{
    ViewBag.Title = "مدينة";
    ViewBag.pTitle = "اضافة مدينة الجديد";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                @using (Html.BeginForm("Create", "cities", FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        
                        <div class="form-group row">
                            @Html.LabelFor(model => model.region_id, "منطقة", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("region_id", null, htmlAttributes: new { @class = "form-control h-auto", required = "required" })
                                @Html.ValidationMessageFor(model => model.region_id, "الرجاء تحديد المنطقة", new { @class = "invalid-feedback" })
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            @Html.LabelFor(model => model.name_en, "اسم المدينة بالانجليزية", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.name_en, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.name_en, "يرجى تقديم اسم صالح باللغة الإنجليزية", new { @class = "invalid-feedback" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.name_ar, "اسم المدينة عربي", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.name_ar, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.name_ar, "يرجى تقديم اسم صالح باللغة العربية", new { @class = "invalid-feedback" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="@Resources.Resources.Add" class="btn btn-primary" />
                                @Html.ActionLink(Resources.Resources.Back, "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assets/libs/parsleyjs/parsley.min.js"></script>

    <script src="~/assets/js/pages/form-validation.init.js"></script>

    <script src="~/assets/js/app.js"></script>
}